html{
    height: 100%;
    overflow: hidden;
    background-color: #e9e9e9;
}

body{
    min-width: 1000px;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    } 
}

#background{
    animation: fadeIn 2s;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
}

#today{
    width: 100%;
    height: 30px;
    text-align: center;
    color: black;
    text-shadow:-1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
}

#mid{
    width: 200px;
    height: 200px;
    margin:100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 200px;
    border:1px solid grey
}

#timer{
    height: 33px;
    width: 95px;
}

#timer h2{
    display: contents;
}

li button,
#mid button{
    width: 48px;
    height: 24px;
    background-color: gray;
    color: white;
    box-shadow: 1px 1px 1px 1px black;
}

#buttons{
    margin-top:30px
}

#history{
    position: fixed;
    left: 0;
    top:0;
    height: 100%;
    width:300px;
    background-color: transparent;
    display: block;
    margin:0;
    padding:0;
}

#history:hover{
    overflow-y: auto;
}

#input{
    margin-top:20px;
    width: 80px;
}

li{
    font-weight: 600;
    text-shadow:-1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
}

#more{
    width: 48px;
    height: 48px;
    border-radius: 48px;
    position: absolute;
    left: 0px;
    top:0;    
    z-index: 1;
    font-weight: 700;
}